.issueContent {
    -fx-background-color: #F9F8E3;
}

.black-separator {
}

#summary {
    -fx-font-size: 110%;
}

.commentHeader {
    -fx-background-color: #81B419;
}

.commentHeader .label{
    -fx-font-size: 120%;
    -fx-text-fill: white;
}
